@{
    ViewData["Title"] = "PurchaseSuccess";
}

<h2>Purchase is Successful</h2>
<h3>Purchased ID : @ViewData["PurchaseID"].ToString()</h3>
<h3>Purchased Product : @ViewData["ProductName"].ToString()</h3>
<h3>Quantity Purchased: @ViewData["Quantity"].ToString()</h3>